<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/meristesDB</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">78917072</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">false</property>
    <mapping class="verbodavida.entities.Pessoa"/>
    <mapping class="verbodavida.entities.Endereco"/>
    <mapping class="verbodavida.entities.Contato"/>
    <mapping class="verbodavida.entities.Grupo"/>
    <mapping class="verbodavida.entities.VinculoPessoaGrupo"/>
    <mapping class="verbodavida.entities.Escala"/>
    <mapping class="verbodavida.entities.Ministerio"/>
    <mapping class="verbodavida.entities.ClassificacaoMembro"/>
  </session-factory>
</hibernate-configuration>
